@import 'shared/variables.css';
@import 'shared/form.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/author.css';
@import 'shared/books.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,400&display=swap');

:root {
  font-family: 'Kanit';
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.container {
  max-width: 1200px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}

.error-message {
  color: hsl(var(--color-danger-hue), 80%, 70%);
  font-size: 1.5rem;;
}

.floating-section {
  position: relative;
}

.floating-image {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 450px;
  margin-top: 170px;
  transform: translate(-50%, -50%);
  animation: floatAnimation 3s ease-in-out infinite;
}

.floating-image img {
  width: 450px; /* Adjust the width of the image */
  height: auto;
}

.floating-image h1 {
  font-size: 3rem;
}

@keyframes floatAnimation {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -55%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.content{
  margin-top: 600px;
}

